{
  "source": {
    "directories": [
      "src"
    ]
  },
  "logs": {
    "text": "infection.log"
  },
  "mutators": {
    "@default": true,
    "Concat": false,
    "ConcatOperandRemoval": false
  },
  "initialTestsPhpOptions": "-d error_reporting=E_ALL"
}
